# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_SECRET='f848125ec3e7e0ebd858f585c2c0b547'

GOOGLE_CLIENT_ID='474712143952-veo9a5jp3jtmfmtve0d8k5t3isuq86q5.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'

GITHUB_OAUTH_TOKEN=

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL='mysql://your-planetscale-url'

# -----------------------------------------------------------------------------
# Email (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY='sk_test_51OP6CLHBei99gHwdnnNMTufbHtQgWmbwQ3cVKTZR3mqNdaozDfioDZemQEjvvzmFp1cAgW0FbPdrElDiQGEYxgOC00vlp0J5ED'
STRIPE_WEBHOOK_SECRET=

NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=

NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PLAN_ID=
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PLAN_ID=