body {
  text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow: hidden;
}

/* #root {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
} */

h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
}

h1 {
  font-size: 10vw;
  line-height: 11vw;
  font-weight: 700 !important;
}

h2 {
  font-size: 10vw;
  font-weight: 300 !important;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.content-width {
  width: 100vw;
  max-width: 100vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .anim {
  overflow: hidden;
} */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
